{
    "parser": "@babel/eslint-parser",
    "env": {
      "browser": false,
      "node": true,
      "jest": true,
      "es6": true
    },
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "requireConfigFile": false
    },
    "rules": {
      "arrow-body-style": ["error", "as-needed"],
      "arrow-parens": ["error", "always"],
      "arrow-spacing": "error",
      "camelcase": ["off"],
      "comma-dangle": ["error", "always-multiline"],
      "curly": "error",
      "default-case": "error",
      "dot-notation": "warn",
      "eqeqeq": "error",
      "max-len": [
        "warn",
        {
          "code": 180,
          "ignoreUrls": true,
          "ignoreRegExpLiterals": true
        }
      ],
      "newline-per-chained-call": "off",
      "no-alert": "warn",
      "no-confusing-arrow": "off",
      "no-console": "warn",
      "no-duplicate-imports": [
        "error",
        {
          "includeExports": true
        }
      ],
      "no-else-return": "error",
      "no-eq-null": "error",
      "no-extra-bind": "error",
      "no-lone-blocks": "error",
      "no-multiple-empty-lines": "error",
      "no-nested-ternary": ["error"],
      "no-param-reassign": "error",
      "no-return-assign": "error",
      "no-return-await": "error",
      "no-self-compare": "error",
      "no-template-curly-in-string": "error",
      "no-useless-concat": "error",
      "no-useless-constructor": "error",
      "no-useless-escape": "error",
      "no-var": "error",
      "prefer-const": "error",
      "prefer-promise-reject-errors": "off",
      "spaced-comment": "error",
      "symbol-description": "error",
      "object-curly-spacing": ["error", "always"],
      "no-use-before-define": 0,
      "allowForLoopAfterthoughts": true,
      "import/extensions": "off",
      "import/no-dynamic-require": "off",
      "import/no-extraneous-dependencies": "off",
      "import/no-named-as-default": "off",
      "import/no-unresolved": "off",
      "import/order": "off",
      "import/prefer-default-export": "off"
    }
  }
  