{
    "printWidth": 120,
    "bracketSameLine": true,
    "bracketSpacing": true,
    "singleQuote": true,
    "quoteProps": "consistent",
    "trailingComma": "none",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
      "^(express/(.*)$)|^(express$)",
      "^(.*express-*(.*)$)",
      "^(bcrypt$)|^(cors$)|^(celebrate$)|^(compression$)|(crypto$)|^(helmet$)",
      "^(handlebars$)|^(http*$)",
      "^(jsonwebtoken$)|^(lodash$)|^(moment$)|^(morgan$)|^(multer$)|^(nodemailer$)",
      "^(mongoose$)|^(.*mongoose-*(.*)$)",
      "^(nodemailer$)",
      "^.*controllers(.*)$",
      "^.*database(.*)$",
      "^.*helpers(.*)$",
      "^.*html(.*)$",
      "^.*middleware(.*)$",
      "^.*models(.*)$",
      "^.*repository(.*)$",
      "^.*routes(.*)$",
      "^.*services(.*)$",
      "^.*utils(.*)$",
      "^[./]"
    ],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true
  }